/* @import "https://fonts.googleapis.com/css?family=lato:100"; */

.container {
    height: 90vh;
    max-width: 100%;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-60deg, #2d457e, #233661, #7c2341, #7c2341);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-60deg, #2d457e, #233661, #7c2341, #7c2341);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.content {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    object-fit: cover;
    width: 260px;
    margin-bottom: 20px;
}

.h1 {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "Lato", sans-serif !important;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 25px;
}

.Typewriter {
    color: #fff;
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    min-height: 60px;
    padding-top: 7px;
    text-align: center !important;
}

.downArrow {
    display: none;
    pointer-events: none;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #fff;
        background: linear-gradient(-60deg, #2d457e, #2d457e, #7c2341, #7c2341);
        background-size: 400% 400%;
        height: 100vh;
        width: 100vw;
        margin-bottom: 20px;
        animation: change 10s ease-in-out infinite;
    }
    .Typewriter {
        font-family: 'Lato', sans-serif !important;
        font-size: 16px;
        font-weight: 300;
        min-height: 60px;
        margin-top: 0;
    }
    .h1 {
        color: #fff;
        font-weight: bolder;
        font-size: 30px;
        font-family: "lato", sans-serif !important;
        margin-top: -2px;
        margin-bottom: -9px;
    }
    .img {
        width: 120px;
        margin-bottom: 15px;
    }
    .content {
        max-width: 70%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .downArrow {
        display: block;
        /* color: #fff; */
        width: 25px;
        padding-top: 160px;
        animation: bounce 3s infinite;
        -moz-animation: bounce 3s infinite;
        -webkit-animation: bounce 3s infinite;
    }
    @-webkit-keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
        60% {
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        40% {
            -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }
        60% {
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }
}