.modalWrapper {
    position: fixed;
    top: 50vh;
    right: 50vw;
    transform: translate(50%, -50%);
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 80px 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.04s cubic-bezier(.17, .67, .83, .67);
    z-index: 10000;
}

.modalClosed {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px 30px;
}

.close {
    position: absolute;
    font-size: 35px;
    top: 7px;
    right: 15px;
    cursor: pointer;
}

.buttons {
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #991b38;
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin: 10px 20px;
    /* border-radius: 3px */
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.icon {
    width: 27px;
    margin-right: 3px;
}

@media only screen and (max-width: 520px) {
    .modalWrapper {
        width: 300px;
    }
    .close {
        position: absolute;
        font-size: 30px;
        top: 7px;
        right: 0px;
        cursor: pointer;
    }
    .flex {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: space-between;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .buttons {
        padding: 8px 10px;
        margin: 10px 0;
    }
    .icon {
        width: 27px;
        margin-right: 3px;
    }
}

@media only screen and (max-width: 380px) {
    .modalWrapper {
        width: 250px;
    }
}


/* @media only screen and (max-width: 600px) {
        .flex {
            display: flex;
            flex-direction: column;
             justify-content: center;

align-items: space-between;
margin-left: 0!important;
margin-right: 0!important;
}
 .modalWrapper {
    width: 400px;
} 
}
*/