html {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    max-width: 1200px; */
    scroll-behavior: smooth;
}

html,
body {
    position: relative;
    background-color: #1a202c;
    color: whitesmoke;
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.fab {
    color: whitesmoke;
}